/* Your CSS code here. */
#flip {
  width: 300px;      /* optional */
  height: auto;      /* optional */
  transition: 0.3s;  /* smooth effect */
}

#flip:hover {
  content: url("https://live.staticflickr.com/8138/29099429912_0659caf55b_b.jpg");
}
