#flip {
    width: 300px; /* Adjust size as needed */
    height: auto;
    transition: opacity 0.5s ease; /* Smooth transition */
}

#flip:hover {
    content: url('https://live.staticflickr.com/8138/29099429912_0659caf55b_b.jpg');
}